#global {
  background-image: url("img/bg.png");
}

#pop1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("img/pop_bg.png");
  background-size: 100%;
}

.pop_container {
  width: 92%;
  height: 85%;
  position: absolute;
  top: 0%;
  left: 0%;
  /* overflow-x: scroll; */
}

.ft_container img {
  width: 100%;
}

.btn_pop1{
  width: 42%;
  height: 9%;
  position: absolute;
  top: 83%;
  left: 41%;
}
.logo_farma{
  background-image: none;
}
.logo_prod_1{
  background-image: none;
}