#global {
    background-image: url("img/bg.png");
}

.btn_pop1{
    position: absolute;
    width: 10%;
    height: 12%;
    bottom: 7%;
    right: 31%;
}

#pop1{
    background-image: url('img/popup.png');
    background-size: 100%;
}
