#global {
    background-image: url("img/bg.png");
}

.btn_reactivo{
    position: absolute;
    width: 37.5%;
    height: 10%;
    bottom: 63%;
    left: 6%;
}

.btn_proactivo{
    position: absolute;
    width: 37.5%;
    height: 10%;
    bottom: 63%;
    right: 19%;
}

.btn_reactivo_resumen{
    position: absolute;
    width: 36%;
    height: 10%;
    bottom: 10%;
    left: 7%;
}

.btn_proactivo_resumen{
    position: absolute;
    width: 37%;
    height: 10%;
    bottom: 10%;
    right: 19.5%;
}