#global {
  background-image: url("img/bg.png");
}

#pop1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("img/pop_bg.png");
  background-size: 100%;
}

.pop_container {
  width: 92%;
  height: 85%;
  position: absolute;
  top: 0%;
  left: 0%;
  /* overflow-x: scroll; */
}

.ft_container img {
  width: 100%;
}

.btn_pop1{
  width: 19%;
  height: 8%;
  position: absolute;
  top: 79%;
  left: 14%;
}
.logo_farma{
  background-image: none;
}
.logo_prod_1{
  background-image: none;
}
.btn_caso_next{
  width: 17%;
  height: 20%;
  position: absolute;
  top: 66%;
  left: 60%;
}
.btn_prev {
  position: absolute;
  top: 90%;
  left: 23%;
  width: 10%;
  height: 10%;
}

.btn_next {
  position: absolute;
  top: 90%;
  right: 32%;
  width: 11%;
  height: 11%;
}