#global {
  background-image: url("img/bg.png");
}

#pop1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("img/pop_bg.png");
  background-size: 100%;
}
#pop2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("img/pop_bg.png");
  background-size: 100%;
}
#pop3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("img/pop_bg.png");
  background-size: 100%;
}
#pop4 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("img/pop_bg.png");
  background-size: 100%;
}
#pop5 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("img/pop_bg.png");
  background-size: 100%;
}
#pop6 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("img/pop_bg.png");
  background-size: 100%;
}
.pop_container {
  width: 92%;
  height: 85%;
  position: absolute;
  top: 0%;
  left: 0%;
  /* overflow-x: scroll; */
}

.ft_container img {
  width: 100%;
}

.btn_pop1{
  width: 12%;
  height: 15%;
  position: absolute;
  top: 33%;
  left: 17%;
}
.btn_pop2{
  width: 12%;
  height: 15%;
  position: absolute;
  top: 33%;
  left: 43%;
}
.btn_pop3{
  width: 12%;
  height: 15%;
  position: absolute;
  top: 53%;
  left: 30%;
}
.btn_pop4{
  width: 12%;
  height: 15%;
  position: absolute;
  top: 53%;
  left: 65%;
}
.btn_pop5{
  width: 12%;
  height: 15%;
  position: absolute;
  top: 73%;
  left: 30%;
}
.btn_pop6{
  width: 12%;
  height: 15%;
  position: absolute;
  top: 73%;
  left: 65%;
}
.logo_farma{
  background-image: none;
}
.logo_prod_1{
  background-image: none;
}