#global {
  background-image: url("img/bg.png");
}

.btn_resultados {
  position: absolute;
  height: 8%;
  width: 6%;
  left: 44%;
  top: 30%;
}
.btn_mejora {
  position: absolute;
  height: 8%;
  width: 7%;
  left: 86%;
  top: 31%;
}
.btn_compara_daivobet {
  position: absolute;
  height: 8%;
  width: 6%;
  left: 44%;
  top: 55%;
}
.btn_compara_clobetasol {
  position: absolute;
  height: 9%;
  width: 7%;
  left: 86%;
  top: 55%;
}
.btn_calidad_daivobet {
  position: absolute;
  height: 8%;
  width: 6%;
  left: 44%;
  top: 70%;
}
.btn_satisfaccion_clobetasol {
  position: absolute;
  height: 8%;
  width: 7%;
  left: 86%;
  top: 70%;
}
