#global {
    background-image: url("img/bg.png");
}
.btn_prev, .btn_next, .btn1, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7 {
    display: none;
}
.btn_next_pop{
    position: absolute;
    width: 10%;
    height: 12%;
    top: 44%;
    left: 3%;
}
.logo_farma, .logo_prod_1{
    display: none;
}