@charset "UTF-8";

/****************************
          GENERAL
****************************/
.hidden {
  display: none;
}

@font-face {
  font-family: 'Academy';
  src: url("fonts/AcademySans.eot#iefix")
    format("embedded-opentype");
  src: url("fonts/AcademySans.ttf") format("truetype"),
    url("fonts/AcademySans.svg#icons") format("svg"),
    url("fonts/AcademySans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.overlay.active {
  opacity: 0.6;
}

.logo_farma {
  width: 12%;
  position: absolute;
  right: 2%;
  top: 3.2%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 8%;
}

.logo_prod_1 {
  width: 11.5%;
  height: 6.3%;
  position: absolute;
  right: 2%;
  bottom: 0%;
  background-size: contain;
  background-repeat: no-repeat;
}

.disabled {
  opacity: 0.3;
}

#global {
  width: 100%;
  height: 100%;
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.popup {
  display: none;
}

.btn_home {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 10%;
  height: 10%;
}

.btn_ref {
  position: absolute;
  top: 35%;
  left: 0%;
  width: 8%;
  height: 10%;
  z-index: 999;
}

.btn1 {
  position: absolute;
  bottom: 77%;
  left: 86%;
  width: 14%;
  height: 11%;
}

.btn2 {
  position: absolute;
  bottom: 65%;
  left: 85%;
  width: 14.4%;
  height: 11%;
}

.btn3 {
  position: absolute;
  bottom: 54%;
  left: 85.2%;
  width: 13.4%;
  height: 11%;
}

.btn4 {
  position: absolute;
  bottom: 42%;
  left: 85.2%;
  width: 13.6%;
  height: 11%;
}

.btn5 {
  position: absolute;
  bottom: 31%;
  left: 84.6%;
  width: 14.3%;
  height: 11%;
}

.btn6 {
  position: absolute;
  bottom: 20%;
  left: 85.6%;
  width: 13.3%;
  height: 11%;
}

.btn7 {
  position: absolute;
  bottom: 9%;
  left: 85.6%;
  width: 13.3%;
  height: 11%;
}
.btn_prev {
  position: absolute;
  top: 90%;
  left: 28%;
  width: 10%;
  height: 10%;
}

.btn_next {
  position: absolute;
  top: 90%;
  right: 39%;
  width: 11%;
  height: 11%;
}

.imgpopup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.btn_close_popup {
  position: absolute;
  top: 5%;
  left: 87%;
  width: 10%;
  height: 10%;
}

.btn_ft {
  width: 15.2%;
  height: 10%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#popFT {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("img/pop_bg.png");
  background-size: 100%;
}

.ft_container {
  width: 92%;
  height: 80%;
  position: absolute;
  top: 13%;
  left: 4%;
  overflow-x: scroll;
}

.ft_container img {
  width: 100%;
}

#btn_close_popFT {
  position: absolute;
  top: 5%;
  left: 87%;
  width: 10%;
  height: 10%;
}
.btn-tancar {
  position: absolute;
  top: 5%;
  left: 87%;
  width: 10%;
  height: 10%;
}
