#global {
    background-image: url("img/bg.png");
}

.btn_caso1{
    position: absolute;
    width: 35%;
    height: 12%;
    bottom: 69%;
    right: 54.5%;
}

.btn_caso2{
    position: absolute;
    width: 35%;
    height: 12%;
    bottom: 69%;
    right: 19.5%;
}

.btn_caso3{
    position: absolute;
    width: 35%;
    height: 12%;
    bottom: 57%;
    right: 54.5%;
}

.btn_caso4{
    position: absolute;
    width: 35%;
    height: 12%;
    bottom: 57%;
    right: 19.5%;
}

.btn_caso5{
    position: absolute;
    width: 35%;
    height: 12%;
    bottom: 44%;
    right: 54.5%;
}

.btn_caso6{
    position: absolute;
    width: 35%;
    height: 12%;
    bottom: 44%;
    right: 19.5%;
}

.btn_caso7{
    position: absolute;
    width: 35%;
    height: 12%;
    bottom: 32%;
    right: 54.5%;
}

.btn_caso8{
    position: absolute;
    width: 35%;
    height: 12%;
    bottom: 32%;
    right: 19.5%;
}

.btn_caso9{
    position: absolute;
    width: 35%;
    height: 12%;
    bottom: 20%;
    right: 54.5%;
}

.btn_caso10{
    position: absolute;
    width: 35%;
    height: 12%;
    bottom: 20%;
    right: 19.5%;
}

.btn_caso11{
    position: absolute;
    width: 35%;
    height: 12%;
    bottom: 8%;
    right: 54.5%;
}

.btn_caso12{
    position: absolute;
    width: 35%;
    height: 12%;
    bottom: 8%;
    right: 19.5%;
}

#pop1{
    background-image: url('img/popup.png');
    background-size: 100%;
}
.btn_prev {
    position: absolute;
    top: 90%;
    left: 23%;
    width: 10%;
    height: 10%;
  }
  
  .btn_next {
    position: absolute;
    top: 90%;
    right: 32%;
    width: 11%;
    height: 11%;
  }