
#global {
  background-image: url("img/bg.png");
}


.pop_container {
  width: 92%;
  height: 85%;
  position: absolute;
  top: 0%;
  left: 0%;
  /* overflow-x: scroll; */
}

.ft_container img {
  width: 100%;
}

.btn_prev{
  display: none;
}

.btn_next{
  top: 41%;
  right: 0%;
  height: 18%;
}
.logo_farma{
  display: none;
}
.logo_prod_1{
  display: none;
}
.btn1{
  display: none;
}
.btn2{
  display: none;
}
.btn3{
  display: none;
}    
.btn4{
  display: none;
}
.btn5{
  display: none;
}
.btn6{
  display: none;
}
.btn7{
  display: none;
}
.btn8{
  display: none;
}
.btn_ft{
  display: none;
}
.btn_ref{
  display: none;
}
#btn_close_pop{
  position: absolute;
  top: 6%;
  left: 85%;
  width: 10%;
  height: 13%;
}
.btn_tancar{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 10%;
  height: 10%;
}
