#global {
    background-image: url("img/bg.png");
}

.btn_resultado1{
    position: absolute;
    width: 15%;
    height: 22%;
    bottom: 13%;
    right: 23.3%;
}

.btn_pop2{
    position: absolute;
    width: 15%;
    height: 8%; 
    bottom: 13%;
    right: 70%;
}

#pop1{
    background-image: url('img/popup.png');
    background-size: 100%;
}
.btn_prev {
    position: absolute;
    top: 90%;
    left: 23%;
    width: 10%;
    height: 10%;
  }
  
  .btn_next {
    position: absolute;
    top: 90%;
    right: 32%;
    width: 11%;
    height: 11%;
  }