#global {
  background-image: url("img/bg.png");
}

.codigo-1 {
  position: absolute;
  top: 42%;
  left: 20%;
  width: 12%;
  height: 8%;
}
.codigo-2 {
  position: absolute;
  top: 42%;
  left: 45%;
  width: 12%;
  height: 8%;
}
.codigo-3 {
  position: absolute;
  top: 42%;
  left: 71%;
  width: 12%;
  height: 8%;
}
.codigo-4 {
  position: absolute;
  top: 78%;
  left: 20%;
  width: 12%;
  height: 8%;
}
.codigo-5 {
  position: absolute;
  top: 79%;
  left: 45%;
  width: 12%;
  height: 8%;
}
.codigo-6 {
  position: absolute;
  top: 79%;
  left: 71%;
  width: 12%;
  height: 8%;
}
.btn_next{
  display: none;
}
.logo_farma{
  background-image: none;
}
.logo_prod_1{
  background-image: none;
}

