#global {
  background-image: url("img/bg.png");
}

.btn_pop1 {
  position: absolute;
  width: 24%;
  height: 9%;
  bottom: 14%;
  left: 11%;
}

.btn_resultados {
  position: absolute;
  width: 29%;
  height: 19%;
  bottom: 14%;
  right: 27%;
}
.btn_prev {
  position: absolute;
  top: 90%;
  left: 23%;
  width: 10%;
  height: 10%;
}

.btn_next {
  position: absolute;
  top: 90%;
  right: 32%;
  width: 11%;
  height: 11%;
}
