#global {
    background-image: url("img/bg.png");
}

.btn_pop1{
    position: absolute;
    width: 7%;
    height: 8%;
    bottom: 12%;
    right: 19%;
}

#pop1{
    background-image: url('img/popup.png');
    background-size: 100%;
}