#global {
    background-image: url("img/bg.png");
}

.btn_pop1{
    position: absolute;
    width: 6%;
    height: 7%;
    bottom: 22%;
    left: 45%;
}

.btn_pop2{
    position: absolute;
    width: 6%;
    height: 7%;
    bottom: 22%;
    right: 9%;
}

#btn_next_pop{
    position: absolute;
    width: 9%;
    height: 8%;
    top: 46%;
    right: 3%;
}

#btn_prev_pop{
    position: absolute;
    width: 9%;
    height: 8%;
    top: 46%;
    left: 3%;
}

#pop1{
    background-image: url('img/popup.png');
    background-size: 100%;
}

#pop2{
    background-image: url('img/popup2.png');
    background-size: 100%;
}