#global {
  background-image: url("img/bg.png");
}

#pop1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("img/pop_bg.png");
  background-size: 100%;
}
#pop2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("img/pop_bg.png");
  background-size: 100%;
}

.pop_container {
  width: 92%;
  height: 85%;
  position: absolute;
  top: 0%;
  left: 0%;
  /* overflow-x: scroll; */
}

.ft_container img {
  width: 100%;
}

.btn_pop1{
  width: 12%;
  height: 12%;
  position: absolute;
  top: 78%;
  left: 33%;
}
.btn_pop2{
  width: 12%;
  height: 14%;
  position: absolute;
  top: 77%;
  left: 67%;
}
.logo_farma{
  background-image: none;
}
.logo_prod_1{
  background-image: none;
}