#global {
  background-image: url("img/bg.png");
}

.btn_sintratar{
    position: absolute;
    width: 22%;
    height: 18%;
    bottom: 15%;
    left: 37.5%;
}

.btn_pop2{
    position: absolute;
    width: 15%;
    height: 8%;
    bottom: 13%;
    right: 70%;
}
.btn_prev {
  position: absolute;
  top: 90%;
  left: 23%;
  width: 10%;
  height: 10%;
}

.btn_next {
  position: absolute;
  top: 90%;
  right: 32%;
  width: 11%;
  height: 11%;
}
