#global {
    background-image: url("img/bg.png");
}

.btn_pop1{
    position: absolute;
    width: 16%;
    height: 18%;
    bottom: 36%;
    right: 65%;
}

#btn_next_pop{
    position: absolute;
    width: 9%;
    height: 8%;
    top: 46%;
    right: 3%;
}

#btn_prev_pop{
    position: absolute;
    width: 9%;
    height: 8%;
    top: 46%;
    left: 3%;
}

#pop1{
    background-image: url('img/popup.png');
    background-size: 100%;
}

#pop2{
    background-image: url('img/popup2.png');
    background-size: 100%;
}