#global {
  background-image: url("img/bg.png");
}

.btn_sintratar {
  position: absolute;
  width: 19%;
  height: 23%;
  bottom: 13%;
  left: 41.5%;
}

.btn_pop1 {
  position: absolute;
  width: 21%;
  height: 12%;
  bottom: 11%;
  right: 66%;
}
.btn_prev {
  position: absolute;
  top: 90%;
  left: 23%;
  width: 10%;
  height: 10%;
}

.btn_next {
  position: absolute;
  top: 90%;
  right: 32%;
  width: 11%;
  height: 11%;
}
