#global {
    background-image: url("img/bg.png");
}

.btn_pop1{
    position: absolute;
    width: 6%;
    height: 8%;
    bottom: 13%;
    right: 10%;
}

#pop1{
    background-image: url('img/popup.png');
    background-size: 100%;
}