#global {
  background-image: url("img/bg.png");
}

#pop1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("img/pop_bg.png");
  background-size: 100%;
}

.ft_container {
  width: 92%;
  height: 85%;
  position: absolute;
  top: 7%;
  left: 4%;
  overflow-x: scroll;
}

.ft_container img {
  width: 100%;
}

.btn_pop1{
  width: 12%;
  height: 15%;
  position: absolute;
  top: 52%;
  left: 66%;
}
.logo_farma{
  background-image: none;
}
.logo_prod_1{
  background-image: none;
}
