#global {
  background-image: url("img/bg.png");
}


.pop_container {
  width: 92%;
  height: 85%;
  position: absolute;
  top: 0%;
  left: 0%;
  /* overflow-x: scroll; */
}

.ft_container img {
  width: 100%;
}
.logo_farma{
  background-image: none;
}
.logo_prod_1{
  background-image: none;
}
